<div class="product-selector observable">
  <div id="mainelements" class="row justify-content-md-center">
    {% set len = mainelements|length %}
    {% if len == 2 %}
      {% set tam = 4  %}
    {% else %}
      {% set tam = 12 / len  %}
    {% endif %}

    {% for product in mainelements %}
      <div id="product-{{product.name}}" class="col-12 col-sm-6 col-md-{{tam}} mb-3 product-btn" 
        {% if product.path is defined %} {{ custom_routes(path(product.path)) }} {% endif %}
        {% if product.position is defined %} data-position = "{{ product.position }}" {% endif %}>
        <div class="inner d-flex justify-content-between align-items-center p-4 fixed_height">
          <h5 class="text-dark font-weight-bold m-0 name">{{product.title}}</h5>
          <span class="icon {{product.icon}} h5 mb-0 text-primary"></span>
          <input type="hidden" id="steps-{{product.name}}" value="{{product.steps}}"/>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
