<div class="product-selector">
  <div id="mainelements" class="row">
    {% set len = mainelements|length %}
    {% set tam = 12 / len  %}

    {% for product in mainelements %}
      <div id="product-{{product.name}}" class="col-12 col-sm-6 col-md-{{tam}} mb-3 product-btn" {% if product.path is defined %} href="{{ path(product.path) }}" {% endif %}>
        <div class="inner d-flex justify-content-between bg-primary align-items-center p-4">
          <h5 class="text-light m-0 name">{{product.name}}</h5>
          <span class="icon {{product.icon}} text-light h5 mb-0"></span>
          <input type="hidden" id="steps-{{product.name}}" value="{{product.steps}}"/>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
