<h1> product-selector.html.twig</h1>

<div id="mainelements" class="">
  {% for product in mainelements %}
    <div id="product-{{product}}" class="">
      <h3>{{product}}</h3>
    </div>
  {% endfor %}
-------------------------------------------
</div>

<div id="firstchildrens" class="hidden">
      <p id="back-0">atras</p>

  {% for key, product in firstchildrens %}
    <div id="fc-{{key}}" class="hidden">
      <h2>firstchildrens - {{key}}</h2>

      {% for child in product %}
        <div id="{{child.name}}" class="">
          {% set path = null %}
          {% if child.path is defined %}
            {% set path = child.path %}
          {% endif %}
          <h3 class="launch {{path}}">{{child.name}}</h3>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
-------------------------------------------

</div>

<div id="secondchildrens" class="hidden">
    <p id="back-1">atras</p>

  {% for key, product in secondChildrens %}

    <div id="sc-{{key}}" class="hidden">
      <h2>secondchildrens - {{key}}</h2>

      {% for child in product %}
        <div id="{{child.name}}" class="">
          <h3 class="launch {{child.path}}">{{child.name}}</h3>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
-------------------------------------------
</div>

