<div class="product-selector">

  <div id="firstchildrens" class="d-none container">
    <div  class="row">
      <div  class="container">
        {% for key, product in firstchildrens %}
          <div id="fc-{{key}}" class="d-none row">
            {% for child in product %}
              <div id="{{child.name}}" class="inner col-12  col-sm-6 col-md-3 product-btn mb-2" {% if child.path is defined %} href="{{ path(child.path) }}" {% endif %}>
                <div class="inner justify-content-between bg-white align-items-center p-4 mb-3 d-flex">
                  <h5 class=" m-0 name">{{child.name}}</h5>
                  <span class="icon {{child.icon}} text-primary h5 mb-0"></span>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="secondchildrens" class="d-none container">
    {% for key, product in secondChildrens %}
      <div id="sc-{{key}}" class="d-none row">
        {% for child in product %}
          <div id="{{child.name}}" class="inner col-12  col-sm-6 col-md-3 product-btn mb-2" {% if child.path is defined %} href="{{ path(child.path) }}" {% endif %}>
            <div class="inner justify-content-between bg-white align-items-center p-4 mb-3 d-flex">
              <h5 class="m-0 name">{{child.name}}</h5>
              <span class="icon {{child.icon}} text-primary h5 mb-0"></span>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>