<div class="product-selector">

  <div id="firstchildrens" class="d-none container">
    <div  class="row">
      <div  class="container">
        {% for key, product in firstchildrens %}
          <input type="hidden" id="fc_suptitle" value="{{product.suptitle}}" />
          <div id="fc-{{key}}" class="d-none row">
            {% for child in product %}
              {% if child is iterable %}
                <div id="{{child.name}}" class="inner col-12  col-sm-6 col-md-3 product-btn mb-2" 
                {% if child.path is defined %} {{ custom_routes(path(child.path)) }} {% endif %}
                {% if child.position is defined %} data-position = "{{ child.position }}" {% endif %}>
                  <div class="inner justify-content-between bg-white align-items-center p-4 mb-3 d-flex fixed_height">
                    <span class="h5 d-block m-0 name">{{child.title}}</span>
                    <span class="icon {{child.icon}} text-primary h5 mb-0"></span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="secondchildrens" class="d-none container">
    {% for key, product in secondChildrens %}
      <input type="hidden" id="sc_suptitle_{{key}}" value="{{product.suptitle}}" />
        <div id="sc-{{key}}" class="d-none row">
        {% for child in product %}
          {% if child is iterable %}  
            <div id="{{child.name}}" class="inner col-12  col-sm-6 col-md-3 product-btn mb-2" 
            {% if child.path is defined %} {{ custom_routes(path(child.path)) }} {% endif %}
            {% if child.position is defined %} data-position = "{{ child.position }}" {% endif %}>
              <div class="inner justify-content-between bg-white align-items-center p-4 mb-3 d-flex fixed_height">
                <span class="h5 d-block m-0 name">{{child.title | raw}} </span>
                <span class="icon {{child.icon}} text-primary h5 mb-0 icon-fixed"></span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>