<!-- Modal -->
<div class="modal fade" id="click-to-call-popup" tabindex="-1" role="dialog" aria-labelledby="Te llamamos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="h4 d-block text-header">{{ "form.header" | trans | raw }}</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon icon-adeslas_icon_close text-white text-white"></span>
        </button>
      </div>
      <div class="modal-body click-to-call--body c2cmodal">
        <span class="h4 d-block text-header" style="text-align:center;">{{ "form.title" | trans | raw }}</span>
        <p style="text-align:center;">{{ "form.desc" | trans | raw }}</p>
        <form>
          <div class="form-group text-left label-in-block">
            <input type="phone" class="form-control" id="phone" maxlength="9" aria-describedby="phoneHelp" placeholder="{{ "form.fields.phone" | trans | raw }}">
            <label for="phone">{{ "form.fields.phone" | trans | raw }}</label>
          </div>
          <p class="call-me-now-validation-error d-none"></p>
          <div class="form-check text-left d-flex">
            <input type="checkbox" class="form-check-input" id="legalCheck">
            <label class="form-check-label small" for="legalCheck">{{ "form.fields.privacy" | trans | raw }}</label>
          </div>
          <button type="submit" class="btn btn-primary mt-4 btn-block call-me-now">{{ "form.cta.text" | trans | raw }}</button>
        </form>
      </div>
    </div>
  </div>
</div>