{% extends 'base.html.twig' %}

{% block title %}{{ "cookies.title_detail" | trans }}{% endblock %}
{% block meta_description %}<meta name="description" content="{{ "cookies.meta_description" | trans }}">{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <h3>{{ "cookies.title_detail" | trans | raw }}</h3>
          
          {{ "cookies.content" | trans | raw }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
{% endblock %}
