{% extends 'base.html.twig' %}

{% block title %}{{ "home.title_detail" | trans }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "home.meta_description" | trans }}">{% endblock %}

{% block body %}

  <div class="container-fluid p-0 fade-in">
    {% include 'components/slider-home/slider-home.html.twig' with {
      slides: hero,
    } %}
  </div>

  <div class="container-fluid py-5 fade-in">
    <div class="container">
      {% include 'components/configurator/configurator.html.twig' with {} %}
    </div>
  </div>

  <div class="container-fluid fade-in">
      {% include 'components/simple-divider-line/simple-divider-line.html.twig' with {margin_y: 3, padding_x: 0} %}
  </div>

  <div class="container-fluid py-5 feature-cards-container mb-n5 fade-in">
      {% include 'components/feature-cards/feature-cards.html.twig' with {
        cards: cards,
      } %}
  </div>

  {# <div class="container-fluid py-5 mb-n5 fade-in">
      <div class="container pdf-section">
        <div class="col-12 text-center">
          <div>
            <h3 class="mini-header">ADESLAS SEGUROS</h3>
            <h2 class="text-header text-white">Conoce nuestro cuadro médico</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          </div>
          <div class="row-bg" style="background: url({{ asset('build/images/adeslas_background_cuadro_medico.jpg') }})"></div>
        </div>
      </div>
  </div> #}



{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('configurator') }}
{% endblock %}