{% extends 'base.html.twig' %}

{% block title %}{{ "home.title_detail" | trans }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "home.meta_description" | trans }}">{% endblock %}

{% block body %}

  {# <h1>{{ "header.text1" | trans | raw }}</h1>
  <h2>{{ "header.text2" | trans | raw }}</h2>
  <h3>{{ "header.text3" | trans | raw }}</h3>
  <h4>{{ "header.text4" | trans | raw }}</h4>


  <h1>{{ "test.test1" | trans | raw }}</h1>
  <h2>{{ "test.test2" | trans | raw }}</h2> #}
  {# {% include 'components/hero-slider/hero-slider.html.twig' %} #}

  
  {# {% include 'components/product-selector/product-selector.html.twig' with {
    mainelements: mainelements,
    firstchildrens: firstchildrens,
    secondChildrens: secondChildrens
   }
  %} #}

  <div class="container my-5 py-5">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h1 class="text-primary">Header 1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac diam aliquet magna porttitor iaculis at vel massa. Mauris elit nisl, rhoncus vestibulum tellus quis, pretium mollis nunc. Curabitur suscipit sed quam id tempus. Cras ullamcorper faucibus leo non pulvinar. Aenean mollis orci velit, nec ultricies enim ultricies quis. Aliquam feugiat, est sit amet porta placerat, turpis dui suscipit metus, in vestibulum lorem mauris sed ante. Nam in ligula porttitor, placerat quam vel, maximus arcu. Integer auctor vel lacus et gravida.</p>
          <p>Proin rutrum, mi nec sodales porta, sapien felis dapibus justo, et ultricies ex leo in elit. Duis interdum orci sit amet laoreet pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse non mauris elit. Donec lacinia nisi in ligula bibendum rhoncus. Donec ac augue eget ligula aliquet commodo. Donec quis facilisis mauris. Quisque in velit gravida, auctor sapien sed, vestibulum massa. Ut maximus, orci a mollis consequat, sapien nunc accumsan felis, quis congue felis libero laoreet elit. Morbi molestie eleifend pellentesque. Etiam quis consequat lectus, ut tempor urna.</p>
        </div>
        <div class="col-12 col-sm-6">
          <h1 class="h2 text-info">Header 2</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac diam aliquet magna porttitor iaculis at vel massa. Mauris elit nisl, rhoncus vestibulum tellus quis, pretium mollis nunc. Curabitur suscipit sed quam id tempus. Cras ullamcorper faucibus leo non pulvinar. Aenean mollis orci velit, nec ultricies enim ultricies quis. Aliquam feugiat, est sit amet porta placerat, turpis dui suscipit metus, in vestibulum lorem mauris sed ante. Nam in ligula porttitor, placerat quam vel, maximus arcu. Integer auctor vel lacus et gravida.</p>
          <p>Proin rutrum, mi nec sodales porta, sapien felis dapibus justo, et ultricies ex leo in elit. Duis interdum orci sit amet laoreet pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse non mauris elit. Donec lacinia nisi in ligula bibendum rhoncus. Donec ac augue eget ligula aliquet commodo. Donec quis facilisis mauris. Quisque in velit gravida, auctor sapien sed, vestibulum massa. Ut maximus, orci a mollis consequat, sapien nunc accumsan felis, quis congue felis libero laoreet elit. Morbi molestie eleifend pellentesque. Etiam quis consequat lectus, ut tempor urna.</p>

        </div>

      </div>
  </div>



{% endblock %}
