{% extends 'base.html.twig' %}

{% block title %}{{ "#{landing}.home.title" | trans }}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "#{landing}.home.meta_description" | trans }}">{% endblock %}

{% block body %}
  <input type="hidden" id="landing-value" value="{{landing_value}}" />
  <input type="hidden" id="area_hid" value="{{area}}" />
  <input type="hidden" id="landing_hid" value="{{landing}}" />

  {# Hero image component #}
  {% include 'components/header-image/header-image.html.twig' with {
    image: "#{landing}.hero.image" | trans,
    image_title: "#{landing}.home.title" | trans,
  } %}

  {# cards with title and description #}
  {% if cards is not null %}
    <div class="container-fluid text-md-center max-w-750">
        {% include 'super-components/cards/cards.html.twig' with {
          cards: cards,
          h2: false,
        } %}
    </div>
  {% endif %}

  {% if product_cards is not null %}
    {% include 'components/simple-divider-line/simple-divider-line.html.twig' with {margin_y: 5, padding_x: 1} %}
  {% endif %}

  {# Product cards  + title + description #}
  {% if product_cards is not null %}
    <div class="container-fluid text-md-center" style="background-image: url({{ asset('build/images/adeslas_landing_back_prize_boxes.jpg') }});background-size:contain;background-position:bottom;background-repeat:no-repeat;">
        {% include 'super-components/product_cards/product_cards.html.twig' with {
          product_cards: product_cards,
        } %}
    </div>
  {% endif %}

  {# Selector component #}
  {# <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        {% include 'components/header-titles/header-titles.html.twig' with {
          mini_header: 'DESTACADO',
          text_header: 'Consulta nuestro cuadro médico',
          content_header: ''
        } %}
        <select class="form-control form-control-lg mt-3">
          <option>Selecciona provincia</option>
          <option>A Coruña</option>
          <option>Lugo</option>
          <option>Ourense</option>
          <option>Pontevedra</option>
        </select>
      </div>
    </div>
  </div> #}

  <div class="container-fluid text-md-center max-w-750" style="margin-top:35px;">
    {% include 'super-components/table_title/table_title.html.twig' with { table:table } %}
  </div>

  {% if des_with_dropdown is not null %}
    <div class="container-fluid text-md-center max-w-750" style="margin-top:35px;">
      {% include 'super-components/dropdown/dropdown.html.twig' with {
        dropdown: des_with_dropdown,
      } %}
      {# bg_grey: false, #}
    </div>
  {% endif %}

  {# {% if desc_extra is not null %}
    {% include 'super-components/hero-title-desc/hero-title-desc.html.twig' with { desc:desc_extra } %}
  {% endif %} #}

  {% if des_with_dropdown_extra is not null %}
    <div class="container-fluid text-md-center max-w-750">
      {% include 'super-components/dropdown/dropdown.html.twig' with {
        dropdown: des_with_dropdown_extra,
      } %}
      {# bg_grey: false, #}
    </div>
  {% endif %}

{% endblock %}


{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('landing_products') }}
{% endblock %}