{% extends 'base.html.twig' %}

{% block title %}{{"legal.title_detail" | trans}}{% endblock %}

{% block meta_description %}<meta name="description" content="{{ "legal.meta_description" | trans }}">{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {# <h3>{{ "legal.title_detail" | trans | raw }}</h3> #}

          {{ "legal.content" | trans | raw }}
        </div>
      </div>
    </div>
  </div>

  {# {% include 'components/terms-popup/terms-popup.html.twig' %} #}

{% endblock %}


{% block javascripts %}
  {{ parent() }}
{% endblock %}
