<div class="header">
    <div class="container py-1">
        <div class="inner d-flex justify-content-between align-items-center">
            <div class="logo-container">
                <a {{ custom_routes("/") }}>
                  <div class="img d-block mx-auto" >
                      <div class="logo-desktop" >{{ source('@public_path'~asset('build/images/adeslas_logo_desktop_02.svg')) }}</div>
                      {# <div class="logo-desktop" ><img srcset="{{ asset('build/images/adeslas_logo_desktop_02.svg') }}"></div> #}

                      <div class="logo-mobile" >{{ source('@public_path'~asset('build/images/adeslas_logo_mob_02.svg')) }}</div>
                      {# <div class="logo-mobile" ><img srcset="{{ asset('build/images/adeslas_logo_mob_02.svg') }}"></div> #}
                  </div>
                </a>
            </div>
            <div class="left-block d-flex align-items-center">
                {# <div class="nav-desktop d-none d-md-block">
                    <ul class="d-flex p-0 m-0 mr-4">
                        <li><a href="#">Menú 1</a></li>
                        <li><a href="#">Menú 2</a></li>
                        <li><a href="#">Menú 3</a></li>
                    </ul>
                </div> #}
                <a role="button" class="ddi-button ddi-desktop btn btn-info font-weight-bold d-none d-md-block" href="#">
                    <span class="ddi-text">Nuevas contrataciones</span><br/>
                    <span class="icon icon-phone"></span> <span class="phone ddi"></span>
                </a>
                <a role="button" class="ddi-button ddi-mobile btn btn-info font-weight-bold d-md-none" href="#">
                    <span class="ddi-text">Nuevas contrataciones</span><br/>
                    <span class="icon icon-phone"></span> <span class="phone ddi"></span>
                </a>
                {# <div class="nav-mobile d-md-none ml-4">
                    <span class="h3 icon icon-menu text-primary"></span>
                </div> #}
            </div>
        </div>
    </div>
    <div class="container-fluid py-0 subheader">
        <div class="row">
            <div class="col-12 text-center m-0 py-2 d-md-none">
                <a href="tel:+34915645454"><span class="ddi-text align-middle">Atención al cliente y autorizaciones</span> <span class="icon icon-phone"></span> <span class="phone support font-weight-bold">91 564 54 54</span></a>
            </div>
            <div class="col-12 text-center m-0 py-2 d-none d-md-block">
                <span class="ddi-text align-middle">Atención al cliente y autorizaciones</span> <span class="icon icon-phone"></span> <span class="phone support font-weight-bold">91 564 54 54</span>
            </div>
        </div>
    </div>
</div>

{# <div class="fullscreen-navigation">
    <div class="inner d-flex align-items-center justify-content-center bg-primary">
        <div class="close-menu p-2">
            <span class="icon icon-adeslas_icon_close text-white"></span>
        </div>
        <ul class="d-flex flex-column">
            <li><a class="text-header h3 text-decoration-none text-white" href="#">Menú 1</a></li>
            <li><a class="text-header h3 text-decoration-none text-white" href="#">Menú 2</a></li>
            <li><a class="text-header h3 text-decoration-none text-white" href="#">Menú 3</a></li>
        </ul>
    </div>
</div> #}