<!-- Slider main container -->
<div class="swiper-home swiper-container fade-in">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for slide in slides %}
    <div class="swiper-slide">
      <div class="container h-100">
        <div class="inner">
          <h2 class="display-4 text-header text-white">{{slide.title}}</h2>
          <p class="description text-white">{{slide.text}}</p>
          <a class="btn btn-primary mt-2 font-weight-bold" style="color:#fff;"
          id="{{slide.cta.id}}" 
          {% if slide.cta.path != '' %}
            href="{{slide.cta.path}}" 
          {% endif %}
          {% if slide.cta.action != '' %}
            data-action="{{slide.cta.action}}" 
          {% endif %}
          role="button">{{slide.cta.text}}</a>
        </div>
      </div>
      <div class="slider-bg" style="background-image:url({{ asset('build/images/'~ "#{slide.image}") }})"></div>
      {# srcset="{{ asset('build/images/'~ "#{provider}.packs.#{pack_id}.image_pack_mobile" | trans) }}"> #}
    </div>
    {% endfor %}
  </div>

  <!-- Bullets -->
  <div class="swiper-pagination"></div>

  <!-- Arrows -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
    
</div>